# Pandas Data Cleaning - Cumulative Lab

## Introduction
In this lab, we'll make use of everything we've learned about pandas, data cleaning, and exploratory data analysis. In order to complete this lab, you'll have to import, clean, combine, reshape, and visualize data to answer questions provided, as well as your own questions!

## Objectives
You will be able to:
- Practice opening and inspecting the contents of CSVs using pandas dataframes
- Practice identifying and handling missing values
- Practice identifying and handling invalid values
- Practice cleaning text data by removing whitespace and fixing typos
- Practice joining multiple dataframes

## Your Task: Clean the Superheroes Dataset with Pandas

![LEGO superheroes](images/lego_superheroes.jpg)

Photo by <a href="https://unsplash.com/@yuliamatvienko?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Yulia Matvienko</a> on <a href="/s/photos/superhero?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>

### Data Understanding
In this lab, we'll work with a version of the comprehensive Superheroes Dataset, which can be found on [Kaggle](https://www.kaggle.com/claudiodavi/superhero-set/data) and was originally scraped from [SuperHeroDb](https://www.superherodb.com/). We have modified the structure and contents of the dataset somewhat for the purposes of this lab.  Note that this data was collected in June 2017, so it may not reflect the most up-to-date superhero lore.

The data is contained in two separate CSV files:

1. `heroes_information.csv`: each record represents a superhero, with attributes of that superhero (e.g. eye color). Height is measured in centimeters, and weight is measured in pounds.
2. `super_hero_powers.csv`: each record represents a superpower, then has True/False values representing whether each superhero has that power

### Business Understanding

The business questions you have been provided are:

1. What is the distribution of superheroes by publisher?
2. What is the relationship between height and number of superpowers? And does this differ based on gender?
3. What are the 5 most common superpowers in Marvel Comics vs. DC Comics?

This lab also simulates something you are likely to encounter at some point or another in your career in data science: someone has given you access to a dataset, as well as a few questions, and has told you to "find something interesting".

So, in addition to completing the basic data cleaning tasks and the aggregation and reshaping tasks needed to answer the provided questions, you will also need to formulate a question of your own and perform any additional cleaning/aggregation/reshaping that is needed to answer it.

### Requirements

#### 1. Load the Data with Pandas

Create a dataframes `heroes_df` and `powers_df` that represent the two CSV files. Use pandas methods to inspect the shape and other attributes of these dataframes.

#### 2. Perform Data Cleaning Required to Answer First Question

The first question is: *What is the distribution of superheroes by publisher?*

In order to answer this question, you will need to:

* Identify and handle missing values
* Identify and handle text data requiring cleaning

#### 3. Perform Data Aggregation and Cleaning Required to Answer Second Question

The second question is: *What is the relationship between height and number of superpowers? And does this differ based on gender?*

In order to answer this question, you will need to:

* Join the dataframes together
* Identify and handle invalid values

#### 4. Perform Data Aggregation Required to Answer Third Question

The third question is: *What are the 5 most common superpowers in Marvel Comics vs. DC Comics?*

This should not require any additional data cleaning or joining of tables, but it will require some additional aggregation.

#### 5. Formulate and Answer Your Own Question

This part is fairly open-ended. Think of a question that can be answered with the available data, and perform any cleaning or aggregation required to answer that question.

## 1. Load the Data with Pandas

In the cell below, we:

* Import and alias `pandas` as `pd`
* Import and alias `numpy` as `np`
* Import and alias `seaborn` as `sns`
* Import and alias `matplotlib.pyplot` as `plt`
* Set Matplotlib visualizations to display inline in the notebook

In [1]:
# Run this cell without changes

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

### Superheroes

In the cell below, load `heroes_information.csv` as `heroes_df`:

In [2]:
# Your code here
heroes_df = pd.read_csv('heroes_information.csv')
print(heroes_df.head())

   Unnamed: 0         name Gender Eye color               Race Hair color  \
0           0       A-Bomb   Male    yellow              Human    No Hair
1           1   Abe Sapien   Male      blue      Icthyo Sapien    No Hair
2           2     Abin Sur   Male      blue            Ungaran    No Hair
3           3  Abomination   Male     green  Human / Radiation    No Hair
4           4      Abraxas   Male      blue      Cosmic Entity      Black

   Height          Publisher Skin color Alignment  Weight
0   203.0      Marvel Comics          -      good   441.0
1   191.0  Dark Horse Comics       blue      good    65.0
2   185.0          DC Comics        red      good    90.0
3   203.0      Marvel Comics          -       bad   441.0
4   -99.0      Marvel Comics          -       bad   -99.0

It looks like that CSV came with an index column, resulting in an extra column called `Unnamed: 0`. We don't need that column, so write code to get rid of it below.

There are two ways to do this:

1. Re-load with `read_csv`, and specify the parameter `index_col=0`
2. Drop the column `Unnamed: 0` with `axis=1`

In [3]:
# Your code here
heroes_df = pd.read_csv('heroes_information.csv', index_col=0)

print(heroes_df.head())

          name Gender Eye color               Race Hair color  Height  \
0       A-Bomb   Male    yellow              Human    No Hair   203.0
1   Abe Sapien   Male      blue      Icthyo Sapien    No Hair   191.0
2     Abin Sur   Male      blue            Ungaran    No Hair   185.0
3  Abomination   Male     green  Human / Radiation    No Hair   203.0
4      Abraxas   Male      blue      Cosmic Entity      Black   -99.0

           Publisher Skin color Alignment  Weight
0      Marvel Comics          -      good   441.0
1  Dark Horse Comics       blue      good    65.0
2          DC Comics        red      good    90.0
3      Marvel Comics          -       bad   441.0
4      Marvel Comics          -       bad   -99.0

The following code checks that the dataframe was loaded correctly.

In [4]:
# Run this cell without changes

# There should be 734 rows
assert heroes_df.shape[0] == 734

# There should be 10 columns. If this fails, make sure you got rid of
# the extra index column
assert heroes_df.shape[1] == 10

# These should be the columns
assert list(heroes_df.columns) == [
    "name",
    "Gender",
    "Eye color",
    "Race",
    "Hair color",
    "Height",
    "Publisher",
    "Skin color",
    "Alignment",
    "Weight",
]

Now you want to get familiar with the data.  This step includes:

* Understanding the dimensionality of your dataset
* Investigating what type of data it contains, and the data types used to store it
* Discovering how missing values are encoded, and how many there are
* Getting a feel for what information it does and doesn't contain

In the cell below, inspect the overall shape of the dataframe:

In [5]:
# Your code here
print("Shape of the DataFrame:", heroes_df.shape)

Shape of the DataFrame: (734, 10)

Now let's look at the info printout:

In [6]:
# Run this cell without changes
heroes_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 734 entries, 0 to 733
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        734 non-null    object
 1   Gender      734 non-null    object
 2   Eye color   734 non-null    object
 3   Race        734 non-null    object
 4   Hair color  734 non-null    object
 5   Height      734 non-null    float64
 6   Publisher   719 non-null    object
 7   Skin color  734 non-null    object
 8   Alignment   734 non-null    object
 9   Weight      732 non-null    float64
dtypes: float64(2), object(8)
memory usage: 63.1+ KB

In the cell below, interpret that information. Do the data types line up with what we expect? Are there any missing values?

In [7]:
# Replace None with appropriate text
"""
 **Data Types**:
   - The columns in the dataset include data types such as int64, float64, and object (strings).
   - For example:
     - Numerical columns (e.g., 'Height', 'Weight') are stored as int64 or float64, which aligns with our expectations.
     - Categorical columns (e.g., 'Gender', 'Alignment') are stored as objects, which is appropriate for string data.
   - Do the data types line up with what we expect? Yes, the data types seem appropriate for the kind of data they represent.
   
Overall, the dataset provides a good starting point for analysis, but we need to address missing values and verify the integrity of the data before proceeding with deeper analysis.
"""

"\n **Data Types**:\n   - The columns in the dataset include data types such as int64, float64, and object (strings).\n   - For example:\n     - Numerical columns (e.g., 'Height', 'Weight') are stored as int64 or float64, which aligns with our expectations.\n     - Categorical columns (e.g., 'Gender', 'Alignment') are stored as objects, which is appropriate for string data.\n   - Do the data types line up with what we expect? Yes, the data types seem appropriate for the kind of data they represent.\n   \nOverall, the dataset provides a good starting point for analysis, but we need to address missing values and verify the integrity of the data before proceeding with deeper analysis.\n"

### Superpowers

Now, repeat the same process with `super_hero_powers.csv`. Name the dataframe `powers_df`. This time, make sure you use `index_col=0` when opening the CSV because the index contains important information.

In [8]:
# Your code here (create more cells as needed)
powers_df = pd.read_csv('super_hero_powers.csv', index_col=0)
print(powers_df.head())

                       3-D Man  A-Bomb  Abe Sapien  Abin Sur  Abomination  \
Agility                   True   False        True     False        False
Accelerated Healing      False    True        True     False         True
Lantern Power Ring       False   False       False      True        False
Dimensional Awareness    False   False       False     False        False
Cold Resistance          False   False        True     False        False

                       Abraxas  Absorbing Man  Adam Monroe  Adam Strange  \
Agility                  False          False        False         False
Accelerated Healing      False          False         True         False
Lantern Power Ring       False          False        False         False
Dimensional Awareness     True          False        False         False
Cold Resistance          False           True        False         False

                       Agent Bob  ...  Wonder Man  Wonder Woman   X-23  X-Man  \
Agility                    False  ...       False         False   True  False
Accelerated Healing        False  ...       False          True   True  False
Lantern Power Ring         False  ...       False         False  False  False
Dimensional Awareness      False  ...       False         False  False  False
Cold Resistance            False  ...       False         False  False  False

                       Yellowjacket  Yellowjacket II   Ymir   Yoda  Zatanna  \
Agility                       False            False  False   True    False
Accelerated Healing           False            False  False  False    False
Lantern Power Ring            False            False  False  False    False
Dimensional Awareness         False            False  False  False    False
Cold Resistance               False            False   True  False    False

                        Zoom
Agility                False
Accelerated Healing    False
Lantern Power Ring     False
Dimensional Awareness  False
Cold Resistance        False

[5 rows x 667 columns]

The following code will check if it was loaded correctly:

In [9]:
# Run this cell without changes

# There should be 167 rows, 667 columns
assert powers_df.shape == (167, 667)

# The first column should be '3-D Man'
assert powers_df.columns[0] == "3-D Man"

# The last column should be 'Zoom'
assert powers_df.columns[-1] == "Zoom"

# The first index should be 'Agility'
assert powers_df.index[0] == "Agility"

# The last index should be 'Omniscient'
assert powers_df.index[-1] == "Omniscient"

## 2. Perform Data Cleaning Required to Answer First Question

Recall that the first question is: *What is the distribution of superheroes by publisher?*

To answer this question, we will only need to use `heroes_df`, which contains the `Publisher` column.

### Identifying and Handling Missing Values

As you likely noted above, the `Publisher` column is missing some values. Let's take a look at some samples with and without missing publisher values:

In [10]:
# Run this cell without changes
has_publisher_sample = heroes_df[heroes_df["Publisher"].notna()].sample(
    5, random_state=1
)
has_publisher_sample

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
60,Banshee,Male,green,Human,Strawberry Blond,183.0,Marvel Comics,-,good,77.0
61,Bantam,Male,brown,-,Black,165.0,Marvel Comics,-,good,54.0
219,DL Hawkins,Male,-,-,-,-99.0,NBC - Heroes,-,good,-99.0
650,Synch,Male,brown,-,Black,180.0,Marvel Comics,-,good,74.0
8,Agent 13,Female,blue,-,Blond,173.0,Marvel Comics,-,good,61.0

In [11]:
# Run this cell without changes
missing_publisher_sample = heroes_df[heroes_df["Publisher"].isna()].sample(
    5, random_state=1
)
missing_publisher_sample

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
175,Chuck Norris,Male,-,-,-,178.0,NaN,-,good,-99.0
286,Godzilla,-,-,Kaiju,-,108.0,NaN,grey,bad,NaN
263,Flash Gordon,Male,-,-,-,-99.0,NaN,-,good,-99.0
138,Brundlefly,Male,-,Mutant,-,193.0,NaN,-,-,-99.0
381,Katniss Everdeen,Female,-,Human,-,-99.0,NaN,-,good,-99.0

What do we want to do about these missing values?

Recall that there are two general strategies for dealing with missing values:

1. Fill in missing values (either using another value from the column, e.g. the mean or mode, or using some other value like "Unknown")
2. Drop rows with missing values

Write your answer below, and explain how it relates to the information we have:

In [12]:
# Replace None with appropriate text
"""
2. **Numerical Columns (e.g., 'Height', 'Weight')**:
   - The 'Height' and 'Weight' columns have missing values represented as '-99.0'. Since '-99.0' is clearly not a valid value for height or weight, we should treat it as NaN (Not a Number).
   - We can either:
     - Replace '-99.0' with NaN and then fill the missing values with the mean or median of the respective column.
     - Or drop rows where both 'Height' and 'Weight' are missing if these values are critical for our analysis.
   - Reasoning: Replacing with the mean/median ensures that the numerical distribution remains consistent, while dropping rows might lead to loss of important data if the missing values are not too numerous.

For this dataset, given the prevalence of missing values, a combination of filling and dropping seems most appropriate.
"""

"\n2. **Numerical Columns (e.g., 'Height', 'Weight')**:\n   - The 'Height' and 'Weight' columns have missing values represented as '-99.0'. Since '-99.0' is clearly not a valid value for height or weight, we should treat it as NaN (Not a Number).\n   - We can either:\n     - Replace '-99.0' with NaN and then fill the missing values with the mean or median of the respective column.\n     - Or drop rows where both 'Height' and 'Weight' are missing if these values are critical for our analysis.\n   - Reasoning: Replacing with the mean/median ensures that the numerical distribution remains consistent, while dropping rows might lead to loss of important data if the missing values are not too numerous.\n\nFor this dataset, given the prevalence of missing values, a combination of filling and dropping seems most appropriate.\n"

Now, implement the strategy to drop rows with missing values using code. (You can also check the solution branch for the answer to the question above if you're really not sure.)

In [13]:
# Your code here
heroes_df = heroes_df.replace({'-99.0': np.nan, '-': np.nan})
heroes_df_cleaned = heroes_df.dropna()

print("Shape of the cleaned DataFrame:", heroes_df_cleaned.shape)
print(heroes_df_cleaned.head())

Shape of the cleaned DataFrame: (59, 10)
          name  Gender Eye color           Race Hair color  Height  \
1   Abe Sapien    Male      blue  Icthyo Sapien    No Hair   191.0
2     Abin Sur    Male      blue        Ungaran    No Hair   185.0
34  Apocalypse    Male       red         Mutant      Black   213.0
39   Archangel    Male      blue         Mutant      Blond   183.0
41      Ardina  Female     white          Alien     Orange   193.0

            Publisher Skin color Alignment  Weight
1   Dark Horse Comics       blue      good    65.0
2           DC Comics        red      good    90.0
34      Marvel Comics       grey       bad   135.0
39      Marvel Comics       blue      good    68.0
41      Marvel Comics       gold      good    98.0

Now there should be no missing values in the publisher column:

In [14]:
# Run this cell without changes
assert heroes_df["Publisher"].isna().sum() == 0

AssertionError:

### Identifying and Handling Text Data Requiring Cleaning

The overall field of natural language processing (NLP) is quite broad, and we're not going to get into any advanced text processing, but it's useful to be able to clean up minor issues in text data.

Let's take a look at the counts of heroes grouped by publisher:

In [15]:
# Run this cell without changes
heroes_df["Publisher"].value_counts()

Publisher
Marvel Comics        379
DC Comics            212
NBC - Heroes          19
Dark Horse Comics     18
George Lucas          14
Image Comics          14
Marvel                 9
Star Trek              6
HarperCollins          6
Team Epic TV           5
SyFy                   5
IDW Publishing         4
Icon Comics            4
ABC Studios            4
Shueisha               4
Wildstorm              3
 DC Comics             3
Sony Pictures          2
Titan Books            1
Microsoft              1
Rebellion              1
Hanna-Barbera          1
J. K. Rowling          1
Universal Studios      1
South Park             1
J. R. R. Tolkien       1
Name: count, dtype: int64

There are two cases where we appear to have data entry issues, and publishers that should be encoded the same have not been. In other words, there are four categories present that really should be counted as two categories (and you do not need specific comic book knowledge to be able to identify them).

Identify those two cases below:

In [16]:
# Replace None with appropriate text
"""
Upon inspecting the 'Publisher' column, we can identify two cases where data entry issues have caused publishers that should be encoded the same to appear as separate categories:

1. **"Marvel Comics" and "Marvel"**:
   - These two entries likely refer to the same publisher, Marvel Comics. The shorter version ("Marvel") is likely a truncated or simplified entry.

2. **"DC Comics" and "DC"**:
   - Similarly, these two entries probably refer to the same publisher, DC Comics. The shorter version ("DC") might have been entered incorrectly or inconsistently.

To address this issue, we can standardize the entries by replacing "Marvel" with "Marvel Comics" and "DC" with "DC Comics". This will ensure consistency in the 'Publisher' column and allow for accurate analysis of the data.
"""

'\nUpon inspecting the \'Publisher\' column, we can identify two cases where data entry issues have caused publishers that should be encoded the same to appear as separate categories:\n\n1. **"Marvel Comics" and "Marvel"**:\n   - These two entries likely refer to the same publisher, Marvel Comics. The shorter version ("Marvel") is likely a truncated or simplified entry.\n\n2. **"DC Comics" and "DC"**:\n   - Similarly, these two entries probably refer to the same publisher, DC Comics. The shorter version ("DC") might have been entered incorrectly or inconsistently.\n\nTo address this issue, we can standardize the entries by replacing "Marvel" with "Marvel Comics" and "DC" with "DC Comics". This will ensure consistency in the \'Publisher\' column and allow for accurate analysis of the data.\n'

Now, write some code to handle these cases. If you're not sure where to start, look at the pandas documentation for [replacing values](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.replace.html) and [stripping off whitespace](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.strip.html).

In [17]:
# Your code here
heroes_df['Publisher'] = heroes_df['Publisher'].replace({'Marvel': 'Marvel Comics', 'DC': 'DC Comics'})
heroes_df['Publisher'] = heroes_df['Publisher'].str.strip()

print("Unique publishers after cleaning:")
print(heroes_df['Publisher'].unique())

Unique publishers after cleaning:
['Marvel Comics' 'Dark Horse Comics' 'DC Comics' 'NBC - Heroes'
 'Wildstorm' 'Image Comics' nan 'Icon Comics' 'SyFy' 'Hanna-Barbera'
 'George Lucas' 'Team Epic TV' 'South Park' 'HarperCollins' 'ABC Studios'
 'Universal Studios' 'Star Trek' 'IDW Publishing' 'Shueisha'
 'Sony Pictures' 'J. K. Rowling' 'Titan Books' 'Rebellion' 'Microsoft'
 'J. R. R. Tolkien']

Check your work below:

In [18]:
# Run this cell without changes
heroes_df["Publisher"].value_counts()

Publisher
Marvel Comics        388
DC Comics            215
NBC - Heroes          19
Dark Horse Comics     18
George Lucas          14
Image Comics          14
Star Trek              6
HarperCollins          6
SyFy                   5
Team Epic TV           5
Icon Comics            4
ABC Studios            4
IDW Publishing         4
Shueisha               4
Wildstorm              3
Sony Pictures          2
Hanna-Barbera          1
South Park             1
Universal Studios      1
J. K. Rowling          1
Titan Books            1
Rebellion              1
Microsoft              1
J. R. R. Tolkien       1
Name: count, dtype: int64

### Answering the Question

Now we should be able to answer *What is the distribution of superheroes by publisher?*

If your data cleaning was done correctly, this code should work without any further changes:

In [19]:
# Run this cell without changes

# Set up plots
fig, (ax1, ax2) = plt.subplots(ncols=2, figsize=(16, 5))

# Create variables for easier reuse
value_counts = heroes_df["Publisher"].value_counts()
top_5_counts = value_counts.iloc[:5]

# Plot data
ax1.bar(value_counts.index, value_counts.values)
ax2.bar(top_5_counts.index, top_5_counts.values)

# Customize appearance
ax1.tick_params(axis="x", labelrotation=90)
ax2.tick_params(axis="x", labelrotation=45)
ax1.set_ylabel("Count of Superheroes")
ax2.set_ylabel("Count of Superheroes")
ax1.set_title("Distribution of Superheroes by Publisher")
ax2.set_title("Top 5 Publishers by Count of Superheroes");

## 3. Perform Data Aggregation and Cleaning Required to Answer Second Question

Recall that the second question is: *What is the relationship between height and number of superpowers? And does this differ based on gender?*

Unlike the previous question, we won't be able to answer this with just `heroes_df`, since information about height is contained in `heroes_df`, while information about superpowers is contained in `powers_df`.

### Joining the Dataframes Together

First, identify the shared key between `heroes_df` and `powers_df`. (Shared key meaning, the values you want to join on.) Let's look at them again:

In [20]:
# Run this cell without changes
heroes_df

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,NaN,good,441.0
1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0
3,Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,NaN,bad,441.0
4,Abraxas,Male,blue,Cosmic Entity,Black,-99.0,Marvel Comics,NaN,bad,-99.0
...,...,...,...,...,...,...,...,...,...,...
729,Yellowjacket II,Female,blue,Human,Strawberry Blond,165.0,Marvel Comics,NaN,good,52.0
730,Ymir,Male,white,Frost Giant,No Hair,304.8,Marvel Comics,white,good,-99.0
731,Yoda,Male,brown,Yoda's species,White,66.0,George Lucas,green,good,17.0
732,Zatanna,Female,blue,Human,Black,170.0,DC Comics,NaN,good,57.0
733,Zoom,Male,red,NaN,Brown,185.0,DC Comics,NaN,bad,81.0

In [21]:
# Run this cell without changes
powers_df

,3-D Man,A-Bomb,Abe Sapien,Abin Sur,Abomination,Abraxas,Absorbing Man,Adam Monroe,Adam Strange,Agent Bob,...,Wonder Man,Wonder Woman,X-23,X-Man,Yellowjacket,Yellowjacket II,Ymir,Yoda,Zatanna,Zoom
Agility,True,False,True,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,True,False,False
Accelerated Healing,False,True,True,False,True,False,False,True,False,False,...,False,True,True,False,False,False,False,False,False,False
Lantern Power Ring,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Dimensional Awareness,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Cold Resistance,False,False,True,False,False,False,True,False,False,False,...,False,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Phoenix Force,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Molecular Dissipation,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Vision - Cryo,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Omnipresent,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Omniscient,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In the cell below, identify the shared key, and your strategy for joining the data (e.g. what will one record represent after you join, will you do a left/right/inner/outer join):

In [22]:
# Replace None with appropriate text
"""
The shared key between the `heroes_df` and `powers_df` datasets is the **name of the superhero**. In the `heroes_df`, this is likely represented by a column such as `'name'`, while in the `powers_df`, the index contains the superhero names.

### Strategy for Joining the Data:
1. **Shared Key**: 
   - The shared key is the superhero name.
   - Since the superhero names are in the index of `powers_df`, we will need to reset the index of `powers_df` to make the superhero names into a regular column before performing the join.

2. **Type of Join**:
   - We will perform an **inner join**. This ensures that only records with matching superhero names in both datasets are included in the final dataset. An inner join is appropriate here because we want to ensure that we have complete information for each superhero (both demographic data and powers).
   
3. **Resulting Dataset**:
   - After joining, one record will represent a single superhero, containing both their demographic information (from `heroes_df`) and their powers (from `powers_df`).

4. **Steps to Implement**:
   - Reset the index of `powers_df` so that the superhero names become a column.
   - Perform an inner join on the shared key (`'name'` or equivalent column).
   - Verify the resulting dataset to ensure the join was successful and the data makes sense.

Example of what one record might represent after joining:
   - A row for '3-D Man' would include his demographic details (e.g., gender, height, publisher) from `heroes_df` and his powers (e.g., Agility, Accelerated Healing) from `powers_df`.

By following this strategy, we can combine the two datasets into a single, comprehensive dataset for further analysis.
"""

"\nThe shared key between the `heroes_df` and `powers_df` datasets is the **name of the superhero**. In the `heroes_df`, this is likely represented by a column such as `'name'`, while in the `powers_df`, the index contains the superhero names.\n\n### Strategy for Joining the Data:\n1. **Shared Key**: \n   - The shared key is the superhero name.\n   - Since the superhero names are in the index of `powers_df`, we will need to reset the index of `powers_df` to make the superhero names into a regular column before performing the join.\n\n2. **Type of Join**:\n   - We will perform an **inner join**. This ensures that only records with matching superhero names in both datasets are included in the final dataset. An inner join is appropriate here because we want to ensure that we have complete information for each superhero (both demographic data and powers).\n   \n3. **Resulting Dataset**:\n   - After joining, one record will represent a single superhero, containing both their demographic information (from `heroes_df`) and their powers (from `powers_df`).\n\n4. **Steps to Implement**:\n   - Reset the index of `powers_df` so that the superhero names become a column.\n   - Perform an inner join on the shared key (`'name'` or equivalent column).\n   - Verify the resulting dataset to ensure the join was successful and the data makes sense.\n\nExample of what one record might represent after joining:\n   - A row for '3-D Man' would include his demographic details (e.g., gender, height, publisher) from `heroes_df` and his powers (e.g., Agility, Accelerated Healing) from `powers_df`.\n\nBy following this strategy, we can combine the two datasets into a single, comprehensive dataset for further analysis.\n"

In the cell below, create a new dataframe called `heroes_and_powers_df` that contains the joined data. You can look at the above answer in the solution branch if you're not sure where to start.

***Hint:*** Note that the `.join` method requires that the two dataframes share an index ([documentation here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.join.html)) whereas the `.merge` method can join using any columns ([documentation here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html)). It is up to you which one you want to use.

In [23]:
# Your code here (create more cells as needed)
powers_df_reset = powers_df.reset_index()
powers_df_reset.rename(columns={'index': 'name'}, inplace=True)
heroes_and_powers_df = heroes_df.merge(powers_df_reset, on='name', how='inner')

print(heroes_and_powers_df.head())

         name Gender Eye color Race Hair color  Height     Publisher  \
0  Omniscient   Male     brown  NaN      Black   180.0  Team Epic TV

  Skin color Alignment  Weight  ...  Wonder Man  Wonder Woman   X-23  X-Man  \
0        NaN      good    65.0  ...       False         False  False  False

   Yellowjacket  Yellowjacket II   Ymir   Yoda  Zatanna   Zoom
0         False            False  False  False    False  False

[1 rows x 677 columns]

In [30]:
# Get unique superhero names from heroes_df
heroes_names = set(heroes_df['name'])

# Get unique superhero names from powers_df (reset index first)
powers_names = set(powers_df.reset_index()['index'])

# Find names that are in one dataset but not the other
missing_in_heroes = powers_names - heroes_names
missing_in_powers = heroes_names - powers_names

print("Names missing in heroes_df:", missing_in_heroes)
print("Names missing in powers_df:", missing_in_powers)

Names missing in heroes_df: {'Web Creation', 'Marksmanship', 'Energy Blasts', 'Animal Attributes', 'Omnipresent', 'Heat Resistance', 'Danger Sense', 'Gravity Control', 'Substance Secretion', 'Spatial Awareness', 'Gliding', 'Symbiote Costume', 'Vision - Cryo', 'Force Fields', 'Natural Armor', 'Element Control', 'Toxin and Disease Resistance', 'Animal Oriented Powers', 'Matter Absorption', 'Changing Armor', 'Odin Force', 'Empathy', 'Elasticity', 'Animal Control', 'Power Cosmic', 'Sonar', 'Weapon-based Powers', 'Stealth', 'Fire Control', 'Power Absorption', 'Insanity', 'Illusions', 'Peak Human Condition', 'Plant Control', 'Reflexes', 'Accelerated Healing', 'Size Changing', 'Lantern Power Ring', 'Teleportation', 'Regeneration', 'Durability', 'Hair Manipulation', 'Self-Sustenance', 'Cryokinesis', 'Radiation Absorption', 'Super Strength', 'Dexterity', 'Radar Sense', 'Electrokinesis', 'Clairvoyance', 'Wind Control', 'Echolocation', 'Hypnokinesis', 'The Force', 'Enhanced Touch', 'Omnitrix', 'Mind Blast', 'Time Manipulation', 'Anti-Gravity', 'Molecular Manipulation', 'Seismic Power', 'Dimensional Travel', 'Vision - Microscopic', 'Phasing', 'Radiation Control', 'Intangibility', 'Mind Control Resistance', 'Water Control', 'Vitakinesis', 'Banish', 'Nova Force', 'Melting', 'Technopath/Cyberpath', 'Thirstokinesis', 'Flight', 'Wallcrawling', 'Cold Resistance', 'Power Augmentation', 'Elemental Transmogrification', 'Shapeshifting', 'Enhanced Smell', 'Possession', 'Sonic Scream', 'Energy Resistance', 'Darkforce Manipulation', 'Energy Beams', 'Magic', 'Photographic Reflexes', 'Intuitive aptitude', 'Weather Control', 'Density Control', 'Energy Constructs', 'Sub-Mariner', 'Enhanced Senses', 'Resurrection', 'Vision - Telescopic', 'Enhanced Hearing', 'Death Touch', 'Energy Manipulation', 'Omnipotent', 'Audio Control', 'Summoning', 'Astral Projection', 'Magnetism', 'Phoenix Force', 'Speed Force', 'Psionic Powers', 'Energy Absorption', 'Grim Reaping', 'Telekinesis', 'Telepathy', 'Hyperkinesis', 'Levitation', 'Weapons Master', 'Fire Resistance', 'Adaptation', 'Jump', 'Agility', 'Enhanced Sight', 'Vision - Night', 'Mind Control', 'Animation', 'Power Sense', 'Enhanced Memory', 'Invisibility', 'Vision - Thermal', 'Invulnerability', 'Duplication', 'Heat Generation', 'Natural Weapons', 'Cloaking', 'Vision - X-Ray', 'Power Nullifier', 'Toxin and Disease Control', 'Biokinesis', 'Vision - Heat', 'Energy Armor', 'Portal Creation', 'Reality Warping', 'Omnilingualism', 'Molecular Combustion', 'Light Control', 'Underwater breathing', 'Probability Manipulation', 'Illumination', 'Astral Travel', 'Super Speed', 'Super Breath', 'Stamina', 'Projection', 'Camouflage', 'Qwardian Power Ring', 'Immortality', 'Molecular Dissipation', 'Radiation Immunity', 'Power Suit', 'Magic Resistance', 'Precognition', 'Time Travel', 'Dimensional Awareness', 'Longevity', 'Intelligence', 'Electrical Transport', 'Vision - Infrared', 'Terrakinesis', 'Telepathy Resistance'}
Names missing in powers_df: {'Evil Deadpool', 'Vagabond', 'Dash', 'Doomsday', 'Ozymandias', 'Doctor Octopus', 'Darkman', 'Kyle Rayner', 'Darkstar', 'Garbage Man', 'Aquababy', 'Thunderbird', 'Ammo', 'Colossal Boy', 'Supergirl', 'Blackwulf', 'Sebastian Shaw', 'Moses Magnum', 'Bird-Brain', 'Giant-Man II', 'Cerebra', 'Cogliostro', 'Deathlok', 'Vision', 'Sandman', 'Box IV', 'Captain Universe', 'Big Daddy', 'Hellcat', 'Iron Monger', 'Blackwing', 'Evilhawk', 'Stormtrooper', 'Atom', 'Wiz Kid', 'Siren', 'Claire Bennet', 'Hela', 'Metron', 'Maya Herrera', 'Century', 'Agent Bob', 'Darkseid', 'Osiris', 'Air-Walker', 'Alan Scott', 'Jack of Hearts', 'Guy Gardner', 'Venom II', 'Legion', 'Raphael', 'Granny Goodness', 'Cheetah II', 'Plastic Lad', 'Sunspot', 'Yellowjacket', 'Havok', 'Zatanna', 'Hawkwoman III', 'Polaris', 'Box III', 'Angela', 'Steel', 'Cecilia Reyes', 'Batgirl VI', 'Bloodwraith', 'Captain Midnight', 'Triplicate Girl', 'Namor', 'Crimson Crusader', 'Onslaught', 'Sentry', 'Hal Jordan', 'Raven', 'Stephanie Powell', 'Buffy', 'Ghost Rider', 'Stardust', 'Green Goblin III', 'Cypher', 'Hercules', 'Walrus', 'Ariel', 'Black Panther', 'Longshot', 'Bane', 'Apocalypse', 'Cottonmouth', 'Hollow', 'Sif', 'Flash IV', 'Thing', 'Daredevil', 'Taskmaster', 'Black Mamba', 'Anti-Venom', 'Doctor Doom II', 'Red Arrow', 'Frigga', 'Leonardo', 'Jessica Cruz', 'Bumbleboy', 'Kang', 'Superman', 'Shadow King', 'Godzilla', 'Energy', 'Ardina', 'Katniss Everdeen', 'Beta Ray Bill', 'Arachne', 'Human Torch', 'T-1000', 'Gorilla Grodd', 'Kraven the Hunter', 'Aztar', 'Cheetah III', 'Utgard-Loki', 'Living Brain', 'Man-Wolf', 'Micro Lad', 'Thunderbird III', 'Anti-Spawn', 'Cheetah', 'Enchantress', 'Blizzard II', 'Medusa', 'Arclight', 'Quantum', 'Astro Boy', 'Doctor Doom', 'Ando Masahashi', 'Heat Wave', 'Absorbing Man', 'Silverclaw', 'Two-Face', 'Mephisto', 'Mantis', 'Daphne Powell', 'Agent Zero', 'She-Thing', 'Paul Blart', 'She-Hulk', 'Rick Flag', 'Elektra', 'Sobek', 'Speedball', 'Rachel Pirzad', 'King Kong', 'Wildfire', 'Morlun', 'Robin II', 'Ego', 'Pyro', 'Hydro-Man', 'Rorschach', 'Bill Harken', 'Black Adam', 'Cameron Hicks', 'Mohinder Suresh', 'Blue Beetle', 'Corsair', 'Killer Frost', 'Swarm', 'Mister Sinister', 'Cannonball', 'Cable', 'Black Goliath', 'Captain America', 'Chamber', 'Vanisher', 'Black Flash', 'Bloodaxe', 'Silk Spectre', 'Chameleon', 'Hawk', 'Amazo', 'Venom III', 'Purple Man', 'Ultron', 'Juggernaut', 'Venom', 'Abraxas', 'Moonstone', 'Spider-Girl', 'Shocker', 'Thanos', 'General Zod', 'Ant-Man II', 'Thundra', 'Batman II', 'Alien', 'Gamora', 'Bloodhawk', 'Luke Skywalker', 'Beetle', 'Ymir', 'Oracle', 'Mockingbird', 'Nite Owl II', "Ra's Al Ghul", 'Violator', 'Blue Beetle III', 'Chuck Norris', 'Mister Knife', 'Doc Samson', 'John Constantine', 'Dormammu', 'Gog', 'Donatello', 'Captain Epic', 'Scarlet Witch', 'Justice', 'Ripcord', 'Alex Mercer', 'Thor', 'Genesis', 'Hellboy', 'Redeemer II', 'Spawn', 'Carnage', 'One-Above-All', 'Silver Surfer', 'Electro', 'Penance II', 'Jyn Erso', 'Firebird', 'Iron Fist', 'Cat II', 'James T. Kirk', 'Michelangelo', 'Deadman', 'Batgirl III', 'Question', 'Leader', 'Titan', 'Phoenix', 'Songbird', 'Luna', 'Predator', 'Crystal', 'Nova', 'Allan Quatermain', 'Mysterio', 'Hawkeye', 'Ray', 'Copycat', 'Lyja', 'Martian Manhunter', 'Huntress', 'Niki Sanders', 'Scarecrow', 'Green Arrow', 'Silk', 'Wonder Woman', 'Omega Red', 'King Shark', 'Weapon XI', 'Vertigo II', 'Atlas', 'Cy-Gor', 'Angel Dust', 'Hellstorm', 'Big Man', 'Ms Marvel II', 'Captain Mar-vell', 'T-X', 'Watcher', 'Proto-Goblin', 'Wondra', 'Superboy', 'Doctor Strange', 'Warpath', 'Jason Bourne', 'Silk Spectre II', 'Aurora', 'Morph', 'Spyke', 'Wasp', 'Hulk', 'John Stewart', 'Scarlet Spider', 'Molten Man', 'Chromos', 'The Cape', 'Thunderbird II', 'Batman', 'Batgirl', 'Etrigan', 'Lady Deathstrike', 'Blue Beetle II', 'Offspring', 'Static', 'Odin', 'Shriek', 'Hyperion', 'Spider-Woman', 'T-850', 'Colin Wagner', 'Kraven II', 'Atom III', 'Speedy', 'Monica Dawson', 'Venompool', 'Nebula', 'Savage Dragon', 'Warbird', 'Curse', 'Lady Bullseye', 'Franklin Richards', 'Blade', 'Ares', 'Catwoman', 'Shadowcat', 'Siren II', 'Brainiac', 'Psylocke', 'Goku', 'Red Hulk', 'Firelord', 'Green Goblin II', 'Professor X', 'Domino', 'Spider-Gwen', 'Hawkwoman', 'Anti-Monitor', 'Alex Woolsly', 'Iron Man', 'Misfit', 'Howard the Duck', 'Bird-Man II', 'Ethan Hunt', 'Fixer', 'Jean Grey', 'Jennifer Kale', 'Steppenwolf', 'Captain Hindsight', 'Nightwing', 'Toxin', 'Captain Marvel', 'Krypto', 'Bishop', 'Micah Sanders', 'Wolverine', 'Black Abbott', 'Gravity', 'Emma Frost', 'Marvel Girl', 'Beyonder', 'Ajax', 'Rambo', 'Rocket Raccoon', 'Impulse', 'Sylar', 'Demogoblin', 'Ultragirl', 'Tigra', 'Brundlefly', 'Snake-Eyes', 'Magneto', 'Bizarro', 'Fallen One II', 'Captain Planet', 'Jean-Luc Picard', 'Beak', 'Mister Mxyzptlk', 'MODOK', 'Razor-Fist II', 'Greedo', 'Hobgoblin', 'Giganta', 'Professor Zoom', 'Binary', 'Black Widow II', 'Sabretooth', 'Man of Miracles', 'Donna Troy', 'Isis', 'Galactus', 'Quill', 'Harry Potter', 'Warp', 'John Wraith', 'Destroyer', 'Zoom', 'Phantom', 'Robin III', 'Elastigirl', 'Franklin Storm', 'Jesse Quick', 'Black Canary', 'Wyatt Wingfoot', 'Scarlet Spider II', 'Nina Theroux', 'Ghost Rider II', 'Superboy-Prime', 'Man-Thing', 'Tiger Shark', 'Jigsaw', 'Robin V', 'Northstar', 'Rhino', 'Hawkeye II', 'Penance I', 'Bushido', 'War Machine', 'Yellow Claw', 'Banshee', 'Callisto', 'Matt Parkman', 'Atom IV', 'Lobo', 'Mister Fantastic', 'Simon Baz', 'Wolfsbane', 'Kathryn Janeway', 'Mogo', 'Spider-Woman II', 'Batwoman V', 'Penguin', 'JJ Powell', 'Luke Cage', 'Punisher', 'Deadshot', 'Captain Atom', 'Flash Gordon', 'Jar Jar Binks', 'Kingpin', 'Naruto Uzumaki', 'Groot', 'Abe Sapien', 'Arsenal', 'Ronin', 'Warlock', 'Power Girl', 'Skaar', 'Angel', 'Han Solo', 'Boomer', 'Thor Girl', 'Armor', 'Jubilee', 'Brainiac 5', 'Batgirl IV', 'Tinkerer', 'Clock King', 'Exodus', 'Black Cat', 'Jack-Jack', 'Storm', 'Triton', 'Meteorite', 'Jim Powell', 'Bird-Man', 'Bantam', 'Mimic', 'Lightning Lad', 'DL Hawkins', 'Billy Kincaid', 'The Comedian', 'Darkhawk', 'Hawkgirl', 'Fabian Cortez', 'Liz Sherman', 'Adam Strange', 'Dagger', 'Azazel', 'Vegeta', 'Kevin 11', 'Scorpion', 'T-800', 'Bionic Woman', 'Darkside', 'Peter Petrelli', 'X-23', 'Drax the Destroyer', 'Goblin Queen', 'Starfire', 'Elongated Man', 'Tracy Strauss', 'Hit-Girl', 'Shadow Lass', 'Goliath IV', 'Captain Britain', 'Stargirl', 'Solomon Grundy', 'Beast', 'White Canary', 'Deathstroke', 'Vulture', 'Parademon', 'Hawkwoman II', 'Siryn', 'Abin Sur', 'Atom Girl', 'Swamp Thing', 'Angel Salvadore', 'Toad', 'Rey', 'Bling!', 'Cyborg Superman', 'Star-Lord', 'Nick Fury', 'James Bond', 'Captain Cold', 'Thunderstrike', 'Captain Marvel II', 'Frenzy', 'Iceman', 'Red Hood', 'Maverick', 'Miss Martian', 'Metallo', 'Vindicator', 'Nathan Petrelli', 'Valerie Hart', 'Phantom Girl', 'ERG-1', 'Flash III', 'Kid Flash II', 'Riddler', 'Synch', 'Elle Bishop', 'Hope Summers', 'Jolt', 'Fin Fang Foom', 'Deadpool', 'Mister Freeze', 'Adam Monroe', 'Namorita', 'Q', 'Tempest', 'Namora', 'Beast Boy', 'Cyclops', 'Snowbird', 'Vixen', 'Mister Zsasz', 'Husk', 'Ben 10', 'Faora', 'Birdman', 'Feral', 'Diamondback', 'Junkpile', 'Rip Hunter', 'Spider-Woman III', 'Mystique', 'Harley Quinn', 'Blob', 'Overtkill', 'Violet Parr', 'One Punch Man', 'Kylo Ren', 'Gary Bell', 'Indigo', 'Black Manta', 'Moon Knight', 'Kid Flash', 'Lex Luthor', 'Master Chief', 'Cyborg', 'Kilowog', 'Multiple Man', 'Guardian', 'Monarch', 'Sage', 'Spectre', 'Boba Fett', 'Bomb Queen', 'Wonder Man', 'Spider-Carnage', 'Aqualad', 'Klaw', 'Stacy X', 'Brother Voodoo', 'Goliath', 'Ant-Man', 'Box', 'Darth Maul', 'Magog', 'Robin', 'Green Goblin IV', 'Batgirl V', 'Redeemer III', 'Crimson Dynamo', 'Danny Cooper', 'Blink', 'Johann Krauss', 'Black Widow', 'Giant-Man', 'Jack Bauer', 'Scorpia', 'Mr Incredible', 'Battlestar', 'Match', 'Sauron', 'A-Bomb', 'Doctor Fate', 'Atom II', 'Poison Ivy', 'Mandarin', 'Abomination', 'Black Bolt', 'Leech', 'Killer Croc', 'Gambit', 'Luke Campbell', 'Mach-IV', 'Alfred Pennyworth', 'Meltdown', 'Changeling', 'Hawkman', 'Black Lightning', 'Hiro Nakamura', 'Nightcrawler', 'Spock', 'Archangel', 'Plantman', 'Maxima', 'Bullseye', 'Master Brood', 'Judge Dredd', 'Blizzard', 'Flash', 'Red Mist', 'Karate Kid', 'Magus', 'Trickster', 'Lightning Lord', 'Plastique', 'Loki', 'Cloak', 'Animal Man', 'Sasquatch', 'Machine Man', 'Jessica Jones', 'Azrael', 'Red Skull', 'Trigon', 'White Queen', 'Doppelganger', 'Sinestro', 'Indiana Jones', 'Bolt', 'Blackout', 'Minna Murray', 'Invisible Woman', 'Flash II', 'Hybrid', 'Fighting Spirit', 'Spider-Man', 'Data', 'Penance', 'Green Goblin', 'Mr Immortal', 'Spider-Woman IV', 'Dazzler', 'Mera', 'Boom-Boom', 'Rogue', 'Valkyrie', 'Wonder Girl', 'Blaquesmith', 'Aquaman', 'Dr Manhattan', 'Ink', 'Living Tribunal', 'Vision II', 'Winter Soldier', 'Black Knight III', 'Forge', 'Vibe', 'X-Man', 'Shang-Chi', 'Renata Soliz', 'Shatterstar', 'Kick-Ass', 'Big Barda', 'Quicksilver', 'Bumblebee', 'Jessica Sanders', 'Joker', 'Falcon', 'Negasonic Teenage Warhead', 'Firestorm', 'Cat', 'Agent 13', 'Red Robin', 'Vulcan', 'Plastic Man', 'Booster Gold', 'Robin VI', 'Annihilus', 'Space Ghost', 'Yellowjacket II', 'Hancock', 'Darth Vader', 'Red Tornado', 'Light Lass', 'Lizard', 'Kool-Aid Man', 'Colossus', 'Man-Bat', 'Power Man', 'K-2SO', 'Firestar', 'Moloch', 'Yoda', 'Gladiator', 'Shrinking Violet', 'Clea', 'Citizen Steel', 'Metamorpho'}

In [32]:
# Merge the cleaned datasets on the 'name' column
heroes_and_powers_df = heroes_df.merge(powers_df_reset, on='name', how='inner')

# Verify the shape of the resulting DataFrame
print("Shape of heroes_and_powers_df:", heroes_and_powers_df.shape)

Shape of heroes_and_powers_df: (1, 677)

In [43]:
print(heroes_and_powers_df.shape[0])
print(heroes_df.shape[0])  # Expected: 667 (original number of heroes)
print(powers_df_reset.shape[0])  # Expected: 667 (if it matches heroes_df)
print(heroes_df['name'].isna().sum())  # Should be 0
print(powers_df_reset['name'].isna().sum())  # Should be 0
print(set(heroes_df['name']) - set(powers_df_reset['name']))
heroes_and_powers_df = heroes_df.merge(powers_df_reset, on='name', how='inner')
heroes_and_powers_df = heroes_df.merge(powers_df_reset, on='name', how='left')

1
734
167
0
0
{'Evil Deadpool', 'Vagabond', 'Dash', 'Doomsday', 'Ozymandias', 'Doctor Octopus', 'Darkman', 'Kyle Rayner', 'Darkstar', 'Garbage Man', 'Aquababy', 'Thunderbird', 'Ammo', 'Colossal Boy', 'Supergirl', 'Blackwulf', 'Sebastian Shaw', 'Moses Magnum', 'Bird-Brain', 'Giant-Man II', 'Cerebra', 'Cogliostro', 'Deathlok', 'Vision', 'Sandman', 'Box IV', 'Captain Universe', 'Big Daddy', 'Hellcat', 'Iron Monger', 'Blackwing', 'Evilhawk', 'Stormtrooper', 'Atom', 'Wiz Kid', 'Siren', 'Claire Bennet', 'Hela', 'Metron', 'Maya Herrera', 'Century', 'Agent Bob', 'Darkseid', 'Osiris', 'Air-Walker', 'Alan Scott', 'Jack of Hearts', 'Guy Gardner', 'Venom II', 'Legion', 'Raphael', 'Granny Goodness', 'Cheetah II', 'Plastic Lad', 'Sunspot', 'Yellowjacket', 'Havok', 'Zatanna', 'Hawkwoman III', 'Polaris', 'Box III', 'Angela', 'Steel', 'Cecilia Reyes', 'Batgirl VI', 'Bloodwraith', 'Captain Midnight', 'Triplicate Girl', 'Namor', 'Crimson Crusader', 'Onslaught', 'Sentry', 'Hal Jordan', 'Raven', 'Stephanie Powell', 'Buffy', 'Ghost Rider', 'Stardust', 'Green Goblin III', 'Cypher', 'Hercules', 'Walrus', 'Ariel', 'Black Panther', 'Longshot', 'Bane', 'Apocalypse', 'Cottonmouth', 'Hollow', 'Sif', 'Flash IV', 'Thing', 'Daredevil', 'Taskmaster', 'Black Mamba', 'Anti-Venom', 'Doctor Doom II', 'Red Arrow', 'Frigga', 'Leonardo', 'Jessica Cruz', 'Bumbleboy', 'Kang', 'Superman', 'Shadow King', 'Godzilla', 'Energy', 'Ardina', 'Katniss Everdeen', 'Beta Ray Bill', 'Arachne', 'Human Torch', 'T-1000', 'Gorilla Grodd', 'Kraven the Hunter', 'Aztar', 'Cheetah III', 'Utgard-Loki', 'Living Brain', 'Man-Wolf', 'Micro Lad', 'Thunderbird III', 'Anti-Spawn', 'Cheetah', 'Enchantress', 'Blizzard II', 'Medusa', 'Arclight', 'Quantum', 'Astro Boy', 'Doctor Doom', 'Ando Masahashi', 'Heat Wave', 'Absorbing Man', 'Silverclaw', 'Two-Face', 'Mephisto', 'Mantis', 'Daphne Powell', 'Agent Zero', 'She-Thing', 'Paul Blart', 'She-Hulk', 'Rick Flag', 'Elektra', 'Sobek', 'Speedball', 'Rachel Pirzad', 'King Kong', 'Wildfire', 'Morlun', 'Robin II', 'Ego', 'Pyro', 'Hydro-Man', 'Rorschach', 'Bill Harken', 'Black Adam', 'Cameron Hicks', 'Mohinder Suresh', 'Blue Beetle', 'Corsair', 'Killer Frost', 'Swarm', 'Mister Sinister', 'Cannonball', 'Cable', 'Black Goliath', 'Captain America', 'Chamber', 'Vanisher', 'Black Flash', 'Bloodaxe', 'Silk Spectre', 'Chameleon', 'Hawk', 'Amazo', 'Venom III', 'Purple Man', 'Ultron', 'Juggernaut', 'Venom', 'Abraxas', 'Moonstone', 'Spider-Girl', 'Shocker', 'Thanos', 'General Zod', 'Ant-Man II', 'Thundra', 'Batman II', 'Alien', 'Gamora', 'Bloodhawk', 'Luke Skywalker', 'Beetle', 'Ymir', 'Oracle', 'Mockingbird', 'Nite Owl II', "Ra's Al Ghul", 'Violator', 'Blue Beetle III', 'Chuck Norris', 'Mister Knife', 'Doc Samson', 'John Constantine', 'Dormammu', 'Gog', 'Donatello', 'Captain Epic', 'Scarlet Witch', 'Justice', 'Ripcord', 'Alex Mercer', 'Thor', 'Genesis', 'Hellboy', 'Redeemer II', 'Spawn', 'Carnage', 'One-Above-All', 'Silver Surfer', 'Electro', 'Penance II', 'Jyn Erso', 'Firebird', 'Iron Fist', 'Cat II', 'James T. Kirk', 'Michelangelo', 'Deadman', 'Batgirl III', 'Question', 'Leader', 'Titan', 'Phoenix', 'Songbird', 'Luna', 'Predator', 'Crystal', 'Nova', 'Allan Quatermain', 'Mysterio', 'Hawkeye', 'Ray', 'Copycat', 'Lyja', 'Martian Manhunter', 'Huntress', 'Niki Sanders', 'Scarecrow', 'Green Arrow', 'Silk', 'Wonder Woman', 'Omega Red', 'King Shark', 'Weapon XI', 'Vertigo II', 'Atlas', 'Cy-Gor', 'Angel Dust', 'Hellstorm', 'Big Man', 'Ms Marvel II', 'Captain Mar-vell', 'T-X', 'Watcher', 'Proto-Goblin', 'Wondra', 'Superboy', 'Doctor Strange', 'Warpath', 'Jason Bourne', 'Silk Spectre II', 'Aurora', 'Morph', 'Spyke', 'Wasp', 'Hulk', 'John Stewart', 'Scarlet Spider', 'Molten Man', 'Chromos', 'The Cape', 'Thunderbird II', 'Batman', 'Batgirl', 'Etrigan', 'Lady Deathstrike', 'Blue Beetle II', 'Offspring', 'Static', 'Odin', 'Shriek', 'Hyperion', 'Spider-Woman', 'T-850', 'Colin Wagner', 'Kraven II', 'Atom III', 'Speedy', 'Monica Dawson', 'Venompool', 'Nebula', 'Savage Dragon', 'Warbird', 'Curse', 'Lady Bullseye', 'Franklin Richards', 'Blade', 'Ares', 'Catwoman', 'Shadowcat', 'Siren II', 'Brainiac', 'Psylocke', 'Goku', 'Red Hulk', 'Firelord', 'Green Goblin II', 'Professor X', 'Domino', 'Spider-Gwen', 'Hawkwoman', 'Anti-Monitor', 'Alex Woolsly', 'Iron Man', 'Misfit', 'Howard the Duck', 'Bird-Man II', 'Ethan Hunt', 'Fixer', 'Jean Grey', 'Jennifer Kale', 'Steppenwolf', 'Captain Hindsight', 'Nightwing', 'Toxin', 'Captain Marvel', 'Krypto', 'Bishop', 'Micah Sanders', 'Wolverine', 'Black Abbott', 'Gravity', 'Emma Frost', 'Marvel Girl', 'Beyonder', 'Ajax', 'Rambo', 'Rocket Raccoon', 'Impulse', 'Sylar', 'Demogoblin', 'Ultragirl', 'Tigra', 'Brundlefly', 'Snake-Eyes', 'Magneto', 'Bizarro', 'Fallen One II', 'Captain Planet', 'Jean-Luc Picard', 'Beak', 'Mister Mxyzptlk', 'MODOK', 'Razor-Fist II', 'Greedo', 'Hobgoblin', 'Giganta', 'Professor Zoom', 'Binary', 'Black Widow II', 'Sabretooth', 'Man of Miracles', 'Donna Troy', 'Isis', 'Galactus', 'Quill', 'Harry Potter', 'Warp', 'John Wraith', 'Destroyer', 'Zoom', 'Phantom', 'Robin III', 'Elastigirl', 'Franklin Storm', 'Jesse Quick', 'Black Canary', 'Wyatt Wingfoot', 'Scarlet Spider II', 'Nina Theroux', 'Ghost Rider II', 'Superboy-Prime', 'Man-Thing', 'Tiger Shark', 'Jigsaw', 'Robin V', 'Northstar', 'Rhino', 'Hawkeye II', 'Penance I', 'Bushido', 'War Machine', 'Yellow Claw', 'Banshee', 'Callisto', 'Matt Parkman', 'Atom IV', 'Lobo', 'Mister Fantastic', 'Simon Baz', 'Wolfsbane', 'Kathryn Janeway', 'Mogo', 'Spider-Woman II', 'Batwoman V', 'Penguin', 'JJ Powell', 'Luke Cage', 'Punisher', 'Deadshot', 'Captain Atom', 'Flash Gordon', 'Jar Jar Binks', 'Kingpin', 'Naruto Uzumaki', 'Groot', 'Abe Sapien', 'Arsenal', 'Ronin', 'Warlock', 'Power Girl', 'Skaar', 'Angel', 'Han Solo', 'Boomer', 'Thor Girl', 'Armor', 'Jubilee', 'Brainiac 5', 'Batgirl IV', 'Tinkerer', 'Clock King', 'Exodus', 'Black Cat', 'Jack-Jack', 'Storm', 'Triton', 'Meteorite', 'Jim Powell', 'Bird-Man', 'Bantam', 'Mimic', 'Lightning Lad', 'DL Hawkins', 'Billy Kincaid', 'The Comedian', 'Darkhawk', 'Hawkgirl', 'Fabian Cortez', 'Liz Sherman', 'Adam Strange', 'Dagger', 'Azazel', 'Vegeta', 'Kevin 11', 'Scorpion', 'T-800', 'Bionic Woman', 'Darkside', 'Peter Petrelli', 'X-23', 'Drax the Destroyer', 'Goblin Queen', 'Starfire', 'Elongated Man', 'Tracy Strauss', 'Hit-Girl', 'Shadow Lass', 'Goliath IV', 'Captain Britain', 'Stargirl', 'Solomon Grundy', 'Beast', 'White Canary', 'Deathstroke', 'Vulture', 'Parademon', 'Hawkwoman II', 'Siryn', 'Abin Sur', 'Atom Girl', 'Swamp Thing', 'Angel Salvadore', 'Toad', 'Rey', 'Bling!', 'Cyborg Superman', 'Star-Lord', 'Nick Fury', 'James Bond', 'Captain Cold', 'Thunderstrike', 'Captain Marvel II', 'Frenzy', 'Iceman', 'Red Hood', 'Maverick', 'Miss Martian', 'Metallo', 'Vindicator', 'Nathan Petrelli', 'Valerie Hart', 'Phantom Girl', 'ERG-1', 'Flash III', 'Kid Flash II', 'Riddler', 'Synch', 'Elle Bishop', 'Hope Summers', 'Jolt', 'Fin Fang Foom', 'Deadpool', 'Mister Freeze', 'Adam Monroe', 'Namorita', 'Q', 'Tempest', 'Namora', 'Beast Boy', 'Cyclops', 'Snowbird', 'Vixen', 'Mister Zsasz', 'Husk', 'Ben 10', 'Faora', 'Birdman', 'Feral', 'Diamondback', 'Junkpile', 'Rip Hunter', 'Spider-Woman III', 'Mystique', 'Harley Quinn', 'Blob', 'Overtkill', 'Violet Parr', 'One Punch Man', 'Kylo Ren', 'Gary Bell', 'Indigo', 'Black Manta', 'Moon Knight', 'Kid Flash', 'Lex Luthor', 'Master Chief', 'Cyborg', 'Kilowog', 'Multiple Man', 'Guardian', 'Monarch', 'Sage', 'Spectre', 'Boba Fett', 'Bomb Queen', 'Wonder Man', 'Spider-Carnage', 'Aqualad', 'Klaw', 'Stacy X', 'Brother Voodoo', 'Goliath', 'Ant-Man', 'Box', 'Darth Maul', 'Magog', 'Robin', 'Green Goblin IV', 'Batgirl V', 'Redeemer III', 'Crimson Dynamo', 'Danny Cooper', 'Blink', 'Johann Krauss', 'Black Widow', 'Giant-Man', 'Jack Bauer', 'Scorpia', 'Mr Incredible', 'Battlestar', 'Match', 'Sauron', 'A-Bomb', 'Doctor Fate', 'Atom II', 'Poison Ivy', 'Mandarin', 'Abomination', 'Black Bolt', 'Leech', 'Killer Croc', 'Gambit', 'Luke Campbell', 'Mach-IV', 'Alfred Pennyworth', 'Meltdown', 'Changeling', 'Hawkman', 'Black Lightning', 'Hiro Nakamura', 'Nightcrawler', 'Spock', 'Archangel', 'Plantman', 'Maxima', 'Bullseye', 'Master Brood', 'Judge Dredd', 'Blizzard', 'Flash', 'Red Mist', 'Karate Kid', 'Magus', 'Trickster', 'Lightning Lord', 'Plastique', 'Loki', 'Cloak', 'Animal Man', 'Sasquatch', 'Machine Man', 'Jessica Jones', 'Azrael', 'Red Skull', 'Trigon', 'White Queen', 'Doppelganger', 'Sinestro', 'Indiana Jones', 'Bolt', 'Blackout', 'Minna Murray', 'Invisible Woman', 'Flash II', 'Hybrid', 'Fighting Spirit', 'Spider-Man', 'Data', 'Penance', 'Green Goblin', 'Mr Immortal', 'Spider-Woman IV', 'Dazzler', 'Mera', 'Boom-Boom', 'Rogue', 'Valkyrie', 'Wonder Girl', 'Blaquesmith', 'Aquaman', 'Dr Manhattan', 'Ink', 'Living Tribunal', 'Vision II', 'Winter Soldier', 'Black Knight III', 'Forge', 'Vibe', 'X-Man', 'Shang-Chi', 'Renata Soliz', 'Shatterstar', 'Kick-Ass', 'Big Barda', 'Quicksilver', 'Bumblebee', 'Jessica Sanders', 'Joker', 'Falcon', 'Negasonic Teenage Warhead', 'Firestorm', 'Cat', 'Agent 13', 'Red Robin', 'Vulcan', 'Plastic Man', 'Booster Gold', 'Robin VI', 'Annihilus', 'Space Ghost', 'Yellowjacket II', 'Hancock', 'Darth Vader', 'Red Tornado', 'Light Lass', 'Lizard', 'Kool-Aid Man', 'Colossus', 'Man-Bat', 'Power Man', 'K-2SO', 'Firestar', 'Moloch', 'Yoda', 'Gladiator', 'Shrinking Violet', 'Clea', 'Citizen Steel', 'Metamorpho'}

Run the code below to check your work:

In [44]:
# Run this cell without changes

# Confirms you have created a DataFrame with the specified name
assert type(heroes_and_powers_df) == pd.DataFrame

# Confirms you have the right number of rows
assert heroes_and_powers_df.shape[0] == 647

# Confirms you have the necessary columns
# (If you modified the value of powers_df along the way, you might need to
# modify this test. We are checking that all of the powers are present as
# columns.)
assert all (power in heroes_and_powers_df.columns for power in powers_df.index)
# (If you modified the value of heroes_df along the way, you might need to
# modify this as well. We are checking that all of the attribute columns from
# heroes_df are present as columns in the joined df)
assert all (attribute in heroes_and_powers_df.columns for attribute in heroes_df.columns)

AssertionError:

Now that we have created a joined dataframe, we can aggregate the number of superpowers by superhero. This code is written for you:

In [25]:
# Run this cell without changes

# Note: we can use sum() with True and False values and they will
# automatically be cast to 1s and 0s
heroes_and_powers_df["Power Count"] = sum(
    [heroes_and_powers_df[power_name] for power_name in powers_df.index]
)
heroes_and_powers_df

KeyError: 'Agility'

### Answering the Question

Now we can plot the height vs. the count of powers:

In [26]:
# Run this cell without changes

fig, ax = plt.subplots(figsize=(16, 8))

ax.scatter(
    x=heroes_and_powers_df["Height"], y=heroes_and_powers_df["Power Count"], alpha=0.3
)

ax.set_xlabel("Height (cm)")
ax.set_ylabel("Number of Superpowers")
ax.set_title("Height vs. Power Count");

KeyError: 'Power Count'

Hmm...what is that stack of values off below zero? What is a "negative" height?

### Identifying and Handling Invalid values

One of the trickier tasks in data cleaning is identifying invalid or impossible values. In these cases, you have to apply your domain knowledge rather than any particular computational technique. For example, if you were looking at data containing dates of past home sales, and one of those dates was 100 years in the future, pandas wouldn't flag that as an issue, but you as a data scientist should be able to identify it.

In this case, we are looking at heights, which are 1-dimensional, positive numbers. In theory we could have a very tiny height close to 0 cm because the hero is microscopic, but it does not make sense that we would have a height below zero.

Let's take a look at a sample of those negative heights:

In [27]:
# Run this cell without changes
heroes_and_powers_df[heroes_and_powers_df["Height"] < 0].sample(5, random_state=1)

ValueError: a must be greater than 0 unless no samples are taken

It looks like not only are those heights negative, those weights are negative also, and all of them are set to exactly -99.0.

It seems like this data source probably filled in -99.0 as the height or weight whenever it was unknown, instead of just leaving it as NaN.

Depending on the purpose of the analysis, maybe this would be a useful piece of information, but for our current question, let's go ahead and drop the records where the height is -99.0. We'll make a new temporary dataframe to make sure we don't accidentally delete anything that will be needed in a future question.

In [28]:
# Run this cell without changes
question_2_df = heroes_and_powers_df[heroes_and_powers_df["Height"] != -99.0].copy()
question_2_df

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight,...,Wonder Man,Wonder Woman,X-23,X-Man,Yellowjacket,Yellowjacket II,Ymir,Yoda,Zatanna,Zoom
0,Omniscient,Male,brown,NaN,Black,180.0,Team Epic TV,NaN,good,65.0,...,False,False,False,False,False,False,False,False,False,False

### Answering the Question, Again

Now we can redo that plot without those negative heights:

In [29]:
# Run this cell without changes

fig, ax = plt.subplots(figsize=(16, 8))

ax.scatter(x=question_2_df["Height"], y=question_2_df["Power Count"], alpha=0.3)

ax.set_xlabel("Height (cm)")
ax.set_ylabel("Number of Superpowers")
ax.set_title("Height vs. Power Count");

KeyError: 'Power Count'

Ok, that makes more sense. It looks like there is not much of a relationship between height and number of superpowers.

Now we can go on to answering the second half of question 2: *And does this differ based on gender?*

To indicate multiple categories within a scatter plot, we can use color to add a third dimension:

In [35]:
# Run this cell without changes

fig, ax = plt.subplots(figsize=(16, 8))

# Select subsets
question_2_male = question_2_df[question_2_df["Gender"] == "Male"]
question_2_female = question_2_df[question_2_df["Gender"] == "Female"]
question_2_other = question_2_df[
    (question_2_df["Gender"] != "Male") & (question_2_df["Gender"] != "Female")
]

# Plot data with different colors
ax.scatter(
    x=question_2_male["Height"],
    y=question_2_male["Power Count"],
    alpha=0.5,
    color="cyan",
    label="Male",
)
ax.scatter(
    x=question_2_female["Height"],
    y=question_2_female["Power Count"],
    alpha=0.5,
    color="gray",
    label="Female",
)
ax.scatter(
    x=question_2_other["Height"],
    y=question_2_other["Power Count"],
    alpha=0.5,
    color="yellow",
    label="Other",
)

# Customize appearance
ax.set_xlabel("Height (cm)")
ax.set_ylabel("Number of Superpowers")
ax.set_title("Height vs. Power Count")
ax.legend();

KeyError: 'Power Count'

It appears that there is still no clear relationship between count of powers and height, regardless of gender. We do however note that "Male" is the most common gender, and that male superheroes tend to be taller, on average.

## 4. Perform Data Aggregation Required to Answer Third Question

Recall that the third question is: *What are the 5 most common superpowers in Marvel Comics vs. DC Comics?*

We'll need to keep using `heroes_and_powers_df` since we require information from both `heroes_df` and `powers_df`.

Your resulting `question_3_df` should contain aggregated data, with columns `Superpower Name`, `Marvel Comics` (containing the count of occurrences in Marvel Comics), and `DC Comics` (containing the count of occurrences in DC Comics). Each row should represent a superpower.

In other words, `question_3_df` should look like this:

![question 3 df](images/question_3.png)

Don't worry if the rows or columns are in a different order, all that matters is that you have the right rows and columns with all the data.

***Hint:*** refer to the [documentation for `.groupby`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html) and treat each publisher as a group.

In [36]:
# Your code here (create more cells as needed)
# Group by Superpower and Publisher, then count occurrences
grouped = heroes_and_powers_df.groupby(['Superpower', 'Publisher']).size().unstack(fill_value=0)

# Now, sort by the sum of occurrences across both publishers (to get the most common superpowers)
grouped['Total'] = grouped['Marvel Comics'] + grouped['DC Comics']
grouped_sorted = grouped.sort_values(by='Total', ascending=False)

# Select the top 5 most common superpowers
question_3_df = grouped_sorted.head(5).drop('Total', axis=1)

# Display the resulting DataFrame
question_3_df

KeyError: 'Superpower'

The code below checks that you have the correct dataframe structure:

In [37]:
# Run this cell without changes

# Checking that you made a dataframe called question_3_df
assert type(question_3_df) == pd.DataFrame

# Checking the shape
assert question_3_df.shape == (167, 3)

# Checking the column names
assert sorted(list(question_3_df.columns)) == [
    "DC Comics",
    "Marvel Comics",
    "Superpower Name",
]

NameError: name 'question_3_df' is not defined

### Answering the Question

The code below uses the dataframe you created to find and plot the most common superpowers in Marvel Comics and DC Comics.

In [38]:
# Run this cell without changes

marvel_most_common = question_3_df.drop("DC Comics", axis=1)
marvel_most_common = marvel_most_common.sort_values(
    by="Marvel Comics", ascending=False
)[:5]
marvel_most_common

NameError: name 'question_3_df' is not defined

In [39]:
# Run this cell without changes

dc_most_common = question_3_df.drop("Marvel Comics", axis=1)
dc_most_common = dc_most_common.sort_values(by="DC Comics", ascending=False)[:5]
dc_most_common

NameError: name 'question_3_df' is not defined

In [40]:
# Run this cell without changes

fig, (ax1, ax2) = plt.subplots(ncols=2, figsize=(15, 5))

ax1.bar(
    x=marvel_most_common["Superpower Name"], height=marvel_most_common["Marvel Comics"]
)
ax2.bar(x=dc_most_common["Superpower Name"], height=dc_most_common["DC Comics"])

ax1.set_ylabel("Count of Superheroes")
ax2.set_ylabel("Count of Superheroes")
ax1.set_title("Frequency of Top Superpowers in Marvel Comics")
ax2.set_title("Frequency of Top Superpowers in DC Comics");

NameError: name 'marvel_most_common' is not defined

It looks like super strength is the most popular power in both Marvel Comics and DC Comics. Overall, the top 5 powers are fairly similar â€” 4 out of 5 overlap, although Marvel contains agility whereas DC contains flight.

## 5. Formulate and Answer Your Own Question

For the remainder of this lab, you'll be focusing on coming up with and answering your own question, just like we did above.  Your question should not be overly simple, and should require both descriptive statistics and data visualization to answer.  In case you're unsure of what questions to ask, some sample questions have been provided below.

Pick one of the following questions to investigate and answer, or come up with one of your own!

* Which powers have the highest chance of co-occurring in a hero (e.g. super strength and flight)?
* What is the distribution of skin colors amongst alien heroes?
* How are eye color and hair color related in this dataset?

Explain your question below:

In [45]:
# Replace None with appropriate text:
"""
How are eye color and hair color related in this dataset?
I will investigate whether certain eye colors are more common with specific hair colors among superheroes. 
This will involve calculating the distribution of eye and hair color combinations and visualizing the results using a heatmap.
"""
"""
How are eye color and hair color related in this dataset?
I will investigate whether certain eye colors are more common with specific hair colors among superheroes. 
This will involve calculating the distribution of eye and hair color combinations and visualizing the results using a heatmap.
"""

'\nHow are eye color and hair color related in this dataset?\nI will investigate whether certain eye colors are more common with specific hair colors among superheroes. \nThis will involve calculating the distribution of eye and hair color combinations and visualizing the results using a heatmap.\n'

Some sample cells have been provided to give you room to work. Feel free to create more cells as needed.

Be sure to include thoughtful, well-labeled visualizations to back up your analysis!

(There is no solution branch for this part, and feel free to move on to the next lesson if you have already spent more than 90 minutes.)

## Summary

In this lab, you demonstrated your mastery of using pandas to clean and aggregate data in order to answer several business questions. This included identifying and handling missing values, text requiring preprocessing, and invalid values. You also performed aggregation and reshaping tasks such as transposing, joining, and grouping data. Great job, there was a lot here!